{%extends "paginas/base.html"%}
{% block titulo %} Entrenamientos apuntados {%endblock %} 
{% block contenido %} 
{% if user.entrenamientos_apuntados.all %}
<h1 class="text-2xl font-bold mb-4">Entrenamientos Apuntados</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4 mx-8">
  {% for entrenamiento in entrenamientos %}
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between"
  >
    <a
      href="{% url 'detalles_entrenamiento' entrenamiento.id %}"
      class="flex justify-center items-center"
    >
      <img
        class="rounded-t-lg w-100 h-64 object-cover"
        src="{{ entrenamiento.imagen.url }}"
        alt=""
      />
    </a>
    <div class="p-5 flex-1 flex flex-col">
      <a href="{% url 'detalles_entrenamiento' entrenamiento.id %}">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ entrenamiento.titulo }}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ entrenamiento.descripcion }}
      </p>
      <div class="mt-auto">
        <a
          href="{% url 'detalles_entrenamiento' entrenamiento.id %}"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Más información
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a href="{% url 'desapuntarse_entrenamiento' entrenamiento.id %}"
           class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 mb-2">
           Desapuntarse
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
{% else %}
  <h1 class="text-center text-xl font-bold">No te has apuntado a ningún entrenamiento aún.</h1>
{%endif%}
{% endblock %} 
