<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="mb-3 sm:px-0 mx-4">
      <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}: </label>
      
      {% if campo.field.widget.input_type == 'file' and is_editing %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes_entrenamiento/{{campo.value}}" width="100">
      {% endif %}

      {% if campo.name == 'ejercicios' %}
        <select
          name="{{ campo.name }}"
          id="{{ campo.id_for_label }}"
          class="form-control"
          multiple
        >
          {% for ejercicio in ejercicios %}
            <option value="{{ ejercicio.id }}" {% if ejercicio.id in campo.value %}selected{% endif %}>
              {{ ejercicio.nombre }}
            </option>
          {% endfor %}
        </select>
      {% else %}
        <input
          type="{{ campo.field.widget.input_type }}"
          class="form-control"
          name="{{ campo.name }}"
          id="{{ campo.id_for_label }}"
          aria-describedby="helpId"
          placeholder="{{ campo.label }}"
          value="{{ campo.value | default:'' }}"
          required
        />
      {% endif %}
    </div>
    <div class="col-12 help-text text-red-500"> {{campo.errors}} </div>
  {% endfor %}
  
  <input
    name=""
    id=""
    class="btn btn-success sm:px-0 mt-4 mx-4"
    type="submit"
    value="Enviar información"
  />
</form>
